# 应用环境配置
ENV=dev

# 数据库配置 (DB_HOST 应为 docker-compose 中的服务名)
DB_HOST=mariadb
DB_PORT=3306
DB_DBNAME=crm_db
DB_USER=crm_user
DB_PASSWORD=crm_pass
DB_ROOT_PASSWORD=root_password

# 应用配置
APP_PORT=8080
APP_DEBUG=true